<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-header">Создание запроса</div>
        <div class=" card-body">
          <div class=" map" id="map"></div>
          <div class=" row" style="margin-top: 60px">
            <div class=" col-md-12 ">
              <div class=" form-group">
                <label>Описание</label>
                <input
                  class=" form-control"
                  placeholder=""
                  type="text"
                  [(ngModel)]="incident.title"
                />
              </div>
            </div>
            <div class=" col-md-12">
              <div class=" form-group">
                <label> Уровень угрозы(1 самый низкий) </label>
                <select class=" form-control" [(ngModel)]="incident.rank">
                  <option value="{{1}}">Ограбление</option>
                  <option value="{{2}}">Авария</option>
                  <option value="{{3}}">Пожар</option>
                </select>
              </div>
            </div>
            <div class=" col-md-12">
              <div class=" form-group">
                <label> Адрес </label>
                <input
                  class=" form-control"
                  [(ngModel)]="incident.address"
                />
              </div>
            </div>
          </div>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" (click)="create()" type="submit">Создать</button>
        </div>
      </div>
    </div>
  </div>
</div>
