<div class=" content">
  <div class="login">
    <div class=" card" style="align-content: center;">
      <div class=" card-header center"><h4 class=" title">Login page</h4></div>
      <div class=" card-body">
          <div class=" form-group">
            <label> Login </label>
            <input
              class=" form-control"
              placeholder="Company"
              type="text"
              [(ngModel)]="username"
            />
          </div>
          <div class=" form-group">
            <label> Password </label>
            <input
              class=" form-control"
              placeholder="password"
              type="password"
              [(ngModel)]="password"
            />
          </div>
      </div>
      <div class=" card-footer">
        <button class=" btn btn-fill btn-danger" type="submit" (click)="register()">Regiter</button>
        <button class=" btn btn-fill btn-danger" type="submit" style="align-content: flex-end" (click)="login()">Login
        </button>
      </div>
    </div>
  </div>
</div>
