<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-header">{{incidentDTO.incident.title}}</div>
        <div class=" card-body">
          <div class=" map" id="map"></div>
          <div class=" row" style="margin-top: 60px">
            <div class=" col-md-5 pr-md-1">
              <div class=" form-group">
                <label>title</label>
                <input
                  class=" form-control"
                  disabled=""
                  placeholder="Company"
                  type="text"
                  value="{{incidentDTO.incident.title}}"
                />
              </div>
            </div>
            <div class=" col-md-3 px-md-1">
              <div class=" form-group">
                <label> incidentStatus </label>
                <input
                  disabled=""
                  class=" form-control"
                  placeholder="Username"
                  type="text"
                  value="{{incidentDTO.incident.incidentStatus}}"
                />
              </div>
            </div>
            <div class=" col-md-4 pl-md-1">
              <div class=" form-group">
                <label> address </label>
                <input
                  disabled=""
                  class=" form-control"
                  placeholder="mike@email.com"
                  value="{{incidentDTO.incident.address}}"
                />
              </div>
            </div>
          </div>
          <div class=" row">
            <div class=" col-md-6 pr-md-1">
              <div class=" form-group">
                <label> First Name </label>
                <input
                  disabled=""
                  class=" form-control"
                  placeholder="Company"
                  type="text"
                  value="{{incidentDTO.user.firstName}}"
                />
              </div>
            </div>
            <div class=" col-md-6 pl-md-1">
              <div class=" form-group">
                <label> Last Name </label>
                <input
                  disabled=""
                  class=" form-control"
                  placeholder="Last Name"
                  type="text"
                  value="{{incidentDTO.user.lastName}}"
                />
              </div>
            </div>
          </div>
          <div class=" row">
            <div class=" col-md-12">
              <div class=" form-group">
                <label>User Address </label>
                <input
                  disabled=""
                  class=" form-control"
                  placeholder="Home Address"
                  type="text"
                  value="{{incidentDTO.user.address}}"
                />
              </div>
            </div>
          </div>
          <div class=" row">
            <div class=" col-md-8">
              <div class=" form-group">
                <label> incidentTypes </label>
                <textarea
                  disabled=""
                  class=" form-control"
                  cols="80"
                  placeholder="Here can be your description"
                  rows="3"
                  value="{{incidentDTO.incident.incidentStatus}}"
                >

              </textarea>
              </div>
            </div>
            <div class=" col-md-4">

            </div>

          </div>
          <div *ngIf="incidentDTO.policyUser" class=" card-header">Взял</div>
          <div *ngIf="incidentDTO.policyUser" class=" card-body row">
            <div class=" col-md-6 pr-md-1">
              <div class=" form-group">
                <label> First Name </label>
                <input
                  disabled=""
                  class=" form-control"
                  placeholder="Company"
                  type="text"
                  value="{{incidentDTO.user.firstName}}"
                />
              </div>
            </div>
            <div class=" col-md-6 pl-md-1">
              <div class=" form-group">
                <label> Last Name </label>
                <input
                  disabled=""
                  class=" form-control"
                  placeholder="Last Name"
                  type="text"
                  value="{{incidentDTO.user.lastName}}"
                />
              </div>
            </div>
          </div>

        </div>
        <div class=" card-footer" *ngIf="incidentDTO.incident.incidentStatus === 'NEW' && (incidentDTO.incident.userId + '') !== userID ">
          <button class=" btn btn-fill btn-danger" (click)="take()" type="submit">Взять</button>
        </div>
        <div class=" card-footer" *ngIf="incidentDTO.incident.incidentStatus === 'INPROGRESS' && (incidentDTO.incident.userId + '') !== userID ">
          <button class=" btn btn-fill btn-danger" (click)="done()" type="submit">Завершить</button>
        </div>
      </div>
    </div>
  </div>
</div>
