<div class=" content">
  <div class="login">
    <div class=" card"  style="align-content: center;">
      <div class=" card-header center"><h4 class=" title">Registration page</h4></div>
      <div class=" card-body" >
        <form>

          <div class=" form-group">
            <label> FirstName </label>
            <input
              class=" form-control"
              placeholder="FirstName"
              type="text"
              [(ngModel)]="user.firstName"
            />
          </div>
          <div class=" form-group">
            <label> LastName </label>
            <input
              class=" form-control"
              placeholder="LastName"
              type="text"
              [(ngModel)]="user.lastName"
            />
          </div>
          <div class=" form-group">
            <label> Username </label>
            <input
              class=" form-control"
              placeholder="Username"
              type="text"
              [(ngModel)]="user.login"
            />
          </div>
          <div class=" form-group">
            <label> Password </label>
            <input
              class=" form-control"
              placeholder="password"
              type="password"
              [(ngModel)]="user.password"
            />
          </div>
          <div class=" form-group">
            <label> Phone </label>
            <input
              class=" form-control"
              placeholder="Phone"
              type="text"
              [(ngModel)]="user.phone"
            />
          </div>
          <div class=" form-group">
            <label> Address </label>
            <input
              class=" form-control"
              placeholder="Adress"
              type="text"
              [(ngModel)]="user.address"
            />
          </div>
        </form>
      </div>
      <div class=" card-footer">
        <button class=" btn btn-fill btn-danger" type="submit" (click)="register()">Regiter</button>
        <button class=" btn btn-fill btn-danger" type="submit" (click)="login()">Login</button>
      </div>
    </div>
  </div>
</div>
