<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-header">Инциденты</div>
        <div class=" card-body">
          <ngb-alert [type]="getColor(incident.incident)" *ngFor="let incident of incidents"
                     [routerLink]="['/incident/'+incident.incident.id]" [dismissible]="false">

            <div class="card-header">
              {{incident.incident.title}}
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <div class="map" id="map{{incident.incident.id}}" style="max-height: 200px">
                    <img src="https://www.thestatesman.com/wp-content/uploads/2020/04/googl_ED.jpg" alt="">
                  </div>
                </div>
                <div class="col-md-9">
                  <h5 class="card-title">Имя: {{incident.user.lastName}} {{incident.user.firstName}}</h5>
                  <h5 class="card-title">Время: {{incident.user.birthdayDate.substring(0,10)}} </h5>
                  <h5 class="card-title">Адрес: {{incident.incident.address}}</h5>
                  <h5 class="card-title">Телефон: {{incident.user.phone}}</h5>
                  <h5 class="card-title">Статус: {{incident.incident.incidentStatus}}</h5>
                  <h5  *ngIf="incident.policyUser" class="card-title">Взял: {{incident.policyUser.lastName}} {{incident.policyUser.firstName}}</h5>

                </div>
              </div>
            </div>
          </ngb-alert>

        </div>
      </div>
    </div>
  </div>
</div>
